<div class="vehicles-stats-bar-container">
  <div class="left-container">
    <!-- Vehicles Total -->
    <div class="vehicles-count-box total">
      <h1>{{ totalCount }} veículos</h1>
      <h2>Total</h2>
    </div>

    <app-diagonal-separator-slash></app-diagonal-separator-slash>

    <!-- Vehicles with Photos -->
    <div class="vehicles-count-box with-photos">
      <h1>{{ withPhotosCount }} veículos</h1>
      <h2>com fotos</h2>
    </div>

    <app-diagonal-separator-slash></app-diagonal-separator-slash>

    <!-- Vehicles without Photos -->
    <div class="vehicles-count-box without-photos">
      <h1>{{ withoutPhotosCount }} veículos</h1>
      <h2>sem fotos</h2>
    </div>

    <app-vertical-separator-slash></app-vertical-separator-slash>

    <!-- Export Stock -->
    <div class="export-stock-container">
      <h1>Exportar Estoque</h1>
      <img class="export-csv-icon" src="assets/images/export-csv-icon.svg" />
    </div>

    <app-vertical-separator-slash></app-vertical-separator-slash>
  </div>

  <!-- Register Vehicle -->
  <div class="right-container">
    <div class="vehicle-actions-container">
      <img
        class="register-vehicle-icon"
        src="assets/images/register-vehicle-icon.svg"
        (click)="onCreateClick()"
      />
      <img
        class="save-icon"
        src="assets/images/save-icon.svg"
        (click)="onSaveClick()"
      />
    </div>
  </div>
</div>
