backend/Adsetdesafio/.vs/Adsetdesafio/v17/.suo
backend/Adsetdesafio/.vs/Adsetdesafio/v17/.futdcache.v2
backend/Adsetdesafio/.vs/Adsetdesafio/FileContentIndex/709fe30c-9554-4113-8b96-42bfa3baf07f.vsidx
*.v2
backend/Adsetdesafio/.vs/Adsetdesafio/v17/DocumentLayout.backup.json
backend/Adsetdesafio/.vs/Adsetdesafio/v17/DocumentLayout.json
*.bin
*.vsidx
backend/Adsetdesafio/.editorconfig
backend/Adsetdesafio/.vs/Adsetdesafio/config/applicationhost.config
backend/Adsetdesafio/.vs/Adsetdesafio/CopilotIndices/17.14.734.62261/CodeChunks.db-shm
backend/Adsetdesafio/.vs/Adsetdesafio/CopilotIndices/17.14.734.62261/CodeChunks.db
backend/Adsetdesafio/.vs/Adsetdesafio/CopilotIndices/17.14.734.62261/CodeChunks.db-wal
backend/Adsetdesafio/.vs/Adsetdesafio/CopilotIndices/17.14.734.62261/SemanticSymbols.db
backend/Adsetdesafio/.vs/Adsetdesafio/CopilotIndices/17.14.734.62261/SemanticSymbols.db-shm
backend/Adsetdesafio/.vs/Adsetdesafio/CopilotIndices/17.14.734.62261/SemanticSymbols.db-wal
*.dll
*.exe
/backend/Adsetdesafio/bin
/backend/Adsetdesafio/obj
backend/Adsetdesafio/appsettings.Development.json
