<section id="vehicles-page">
  <app-header></app-header>

  <app-vehicles-stats-bar
    [totalCount]="(vm.totalCount$ | async) ?? 0"
    [withPhotosCount]="(vm.withPhotosCount$ | async) ?? 0"
    [withoutPhotosCount]="(vm.withoutPhotosCount$ | async) ?? 0"
    (createVehicle)="onCreateVehicle()"
    (save)="onSave()"
  ></app-vehicles-stats-bar>

  <app-vehicles-search-bar
    [colors]="(vm.colors$ | async) ?? []"
    (search)="vm.applyFilters($event)"
    (reset)="vm.applyFilters({}, true)"
  ></app-vehicles-search-bar>

  <app-vehicles-filters-bar
    [pageSize]="vm.filters.pageSize ?? 10"
    (pageSizeChange)="vm.changePageSize($event)"
    (sortChange)="vm.applySort($event)"
  ></app-vehicles-filters-bar>

  <app-vehicles-list
    class="vehicles-list"
    [vehicles]="(vm.vehicles$ | async) ?? []"
    (edit)="onEditVehicle($event)"
    (delete)="onDeleteVehicle($event)"
    (viewPhotos)="onViewPhotos($event)"
  ></app-vehicles-list>

  <app-paginator
    [totalCount]="(vm.totalCount$ | async) ?? 0"
    [pageSize]="(vm.pageSize$ | async) ?? 10"
    [currentPage]="vm.filters.pageNumber ?? 1"
    (pageChange)="vm.changePage($event)"
  ></app-paginator>
</section>
