<div class="flex items-center bg-gray-200 px-2 py-2">
  <div class="flex items-center gap-2">
    <button class="flex items-center gap-1 px-2" (click)="sortBy('make')">
      Marca / Modelo
      <div class="flex flex-col leading-none ml-1">
        <span [class.text-green-600]="isActive('make','asc')" class="text-xs text-gray-500">▲</span>
        <span [class.text-green-600]="isActive('make','desc')" class="text-xs text-gray-500">▼</span>
      </div>
    </button>

    <button class="flex items-center gap-1 px-2 border-l border-gray-400" (click)="sortBy('year')">
      Ano
      <div class="flex flex-col leading-none ml-1">
        <span [class.text-green-600]="isActive('year','asc')" class="text-xs text-gray-500">▲</span>
        <span [class.text-green-600]="isActive('year','desc')" class="text-xs text-gray-500">▼</span>
      </div>
    </button>

    <button class="flex items-center gap-1 px-2 border-l border-gray-400" (click)="sortBy('price')">
      Preço
      <div class="flex flex-col leading-none ml-1">
        <span [class.text-green-600]="isActive('price','asc')" class="text-xs text-gray-500">▲</span>
        <span [class.text-green-600]="isActive('price','desc')" class="text-xs text-gray-500">▼</span>
      </div>
    </button>

    <button class="flex items-center gap-1 px-2 border-l border-gray-400" (click)="sortBy('images')">
      Fotos
      <div class="flex flex-col leading-none ml-1">
        <span [class.text-green-600]="isActive('images','asc')" class="text-xs text-gray-500">▲</span>
        <span [class.text-green-600]="isActive('images','desc')" class="text-xs text-gray-500">▼</span>
      </div>
    </button>
  </div>
</div>

<div *ngFor="let v of vehicles" class="flex border-b py-4 bg-white">
  <div class="flex items-start px-2">
    <button
      class="text-red-600 mr-2"
      title="Excluir"
      (click)="deleteVehicle(v.id)">
      <img src="assets/remove-icon.png" />
    </button>
    <img
      [src]="v.imageUrls && v.imageUrls.length > 0 ? 'assets/car-icon.png' : 'assets/no-image.png'"
      alt="Foto do veículo"
      class="w-48 h-32 object-cover"
    />

  </div>
    <!-- <img
    [src]="v.imageUrls?.length ? environment.apiUrl + v.imageUrls[1] : 'assets/car-icon.png'"
    alt="Foto do veículo"
    class="w-48 h-32 object-cover"
  /> -->

  <div class="ml-4 flex-1 flex justify-between items-start">
    <div>
      <h2 class="font-bold text-lg">{{ v.make }} {{ v.model }} | {{ v.year }}</h2>
      <p>Placa - <span class="text-green-600">{{ v.plate }}</span></p>
      <p *ngIf="v.km">Km - <span class="text-green-600">{{ v.km | number }}</span></p>
      <p>Cor - <span class="text-green-600">{{ v.color }}</span></p>
    </div>

    <div class="flex flex-col items-end justify-end pr-4 w-56">
      <div class="flex items-center gap-4 mb-2">
        <button
          class="relative group flex items-center justify-center w-9 h-9 rounded-md bg-blue-600 shadow-sm"
          (click)="onEdit(v)"
          type="button">

          <img src="assets/editar-car-icon.png" alt="Editar veículo" class="w-5 h-5"/>

          <span
            class="absolute -top-8 left-1/2 -translate-x-1/2 whitespace-nowrap
                  px-2 py-1 rounded bg-gray-800 text-white text-xs shadow
                  opacity-0 group-hover:opacity-100 transition-opacity duration-200">
            Editar Veículo
          </span>

          <div
            class="absolute -top-2 left-1/2 -translate-x-1/2 w-2 h-2 bg-gray-800 rotate-45
                  opacity-0 group-hover:opacity-100 transition-opacity duration-200">
          </div>
        </button>
        <!-- Fotos -->
        <button class="flex items-center gap-1 text-sm text-gray-700 hover:text-green-600" type="button">
          <img src="assets/photo-icon.png" alt="" class="w-5 h-5"/>
          <span class="font-bold text-green-600">{{ v.imageUrls?.length || 0 }}</span>
        </button>

        <!-- Opcionais -->
        <button class="flex items-center gap-1 text-sm text-gray-700 hover:text-green-600" type="button">
          <img src="assets/car-options.png" alt="" class="w-5 h-5"/>
          <span class="text-green-600">Opcionais</span>
        </button>
      </div>

      <p class="text-green-600 font-bold text-lg">
        R$ {{ v.price | number:'1.2-2' }}
      </p>
    </div>
      <app-vehicle-packages
        [vehicleId]="v.id"
        [portalPackages]="v.portalPackages"
        (packagesSelected)="onPackagesSelected($event)">
</app-vehicle-packages>
  </div>
</div>
<!-- <div *ngFor="let v of vehicles | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalVehicles }">
</div>

<pagination-controls
  (pageChange)="pageChanged($event)"
  previousLabel="‹"
  nextLabel="›"
  screenReaderPaginationLabel="Paginação"
  screenReaderPageLabel="página"
  screenReaderCurrentLabel="Você está na página"
  [responsive]="true">
</pagination-controls> -->
