<h1 mat-dialog-title>Criar veículo</h1>
<div mat-dialog-content>
  <form [formGroup]="form" class="vehicle-form">
    <mat-form-field appearance="fill">
      <mat-label>Marca</mat-label>
      <input matInput formControlName="brand" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Modelo</mat-label>
      <input matInput formControlName="model" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ano</mat-label>
      <input type="number" matInput formControlName="year" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Placa</mat-label>
      <input matInput formControlName="licensePlate" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Cor</mat-label>
      <input matInput formControlName="color" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Preço</mat-label>
      <input type="number" matInput formControlName="price" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Quilometragem</mat-label>
      <input type="number" matInput formControlName="mileage" />
    </mat-form-field>

    <input type="file" (change)="onFileSelected($event)" multiple />
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button
    mat-flat-button
    color="primary"
    (click)="submit()"
    [disabled]="form.invalid"
  >
    Salvar
  </button>
</div>
