<div class="container-boas-vindas">
  <img src="adset-lead.png" alt="ADSet Lead" class="logo-principal" />
  <h1 class="titulo-principal">
    Carta aberta aos recrutadores técnicos <br />
  </h1>

  <br />
  <p class="texto-principal">
    Prezados recrutadores técnicos, <br /><br />
    
    Gostaria de compartilhar minha experiência em ser convocado à participar
    do recrutamento para à vaga de Desenvolvedor Full-Stack Pleno! Gostaria de 
    já agradecer pela leitura da carta! <br /><br />

    Tenho enfrentado durante essa semana, escasses de tempo, houver um falecimento 
    em minha família e ficamos de luto, sem mais delongas, fiquei responsável
    por desenvolver soluções para o sistema que trabalho, onde ocupou a maior parte
    do meu tempo, resolvendo hotfix e bugs para entregarmos uma nova versão! Junto a
    isso, as responsabilidades aumentaram consideravelmente, incluindo semana de
    provas na faculdade! <br /><br />

    No entanto, encontrei desafios aqui como "Angular Material", que tive pouquíssimo uso,
    onde estudei a documentação e consegui entender o básico de suas funcionalidades e estilos. <br /><br />

    Acredito que a comunicação eficaz entre candidatos e recrutadores é
    fundamental para o sucesso de ambos os lados. Então quis deixar algumas justificativas
    e garantir comprometimento total caso queiram realizar uma conversa e entender melhor
    quem sou, minhas origens e como tenho contribuído dentro da <a href="https://ekan.com.br/" target="_blank">EKAN SOLUCOES E SISTEMAS INTEGRADOS LTDA</a> a
    alcancer e ir além de seus objetivos! <br /><br />

    Deixo também meu github <a href="https://github.com/WilliamMoro" target="_blank">Github</a> 
    onde conseguirão ver mais do que tenho estudado e projetos inciados! <br /><br />
    Agradeço pela atenção e espero poder contribuir positivamente para a
    comunidade de desenvolvimento de software. <br /><br />
    Atenciosamente e respeitosamente, <br />
    <span class="assinatura-container">
      William Juan Santos Moro
      <a href="https://www.linkedin.com/in/william-moro-3b4909184/" target="_blank"><img src="foto_pofissional.jpg" alt="Foto profissional" class="foto-profissional" /></a>
    </span>
  </p>
  <br />
  <a routerLink="/carros" class="btn-pesquisa">Ir para pesquisa</a>
</div>
