<div class="car-list" *ngFor="let car of cars" [ngClass]="{'shift-left': showPackagesMap[car.id]}">
  <div class="car-card">
    <div class="div-delete">
      <button class="btn-delete" aria-label="Excluir veículo">      
        <mat-icon>delete</mat-icon>
      </button>
    </div>

    <div class="car-image">
      <!--[src]="car.photos" alt="{{car.brand}} {{car.model}}"-->
      <img src="../../../../assets/image/vw-car-image-test.png">
    </div>

    <div class="car-details">
      <div class="car-header">
        <div class="div-car-title">
          <span class="car-title">{{car.brand}} {{car.model}} | {{car.year}}</span>
        </div>
      </div>
      <ul class="car-info">
        <li><strong>Placa - </strong> {{car.plate}}
        </li>
        <li><strong>Km - </strong> {{car.km | number}}</li>
        <li><strong>Cor - </strong> {{car.color}}</li>
      </ul>
      <div class="car-extras">
        <button class="btn-edit" aria-label="Editar">
          <mat-icon class="material-symbols-outlined">edit_square</mat-icon>
        </button>
        <button class="btn-photo-count" aria-label="Fotos">
          <mat-icon>photo_camera</mat-icon>
          <span style="position: relative !important; top: 0.55rem !important;">{{car.photos.length}}</span>
        </button>
        <button class="btn-optionals" aria-label="Opcionais">
          <img src="assets/image/car-options.png" alt="Opcionais">
          <span>Opcionais</span>
        </button>
      </div>
      <div class="car-price-wrapper">
        <div class="car-price">
          {{ car.price | currency:'BRL':'symbol':'1.2-2' }}
        </div>
      </div>
    </div>
  </div>
  <div class="buttons-side">
    <button class="clear-filters-btn" aria-label="Limpar filtros">
      <img src="assets/image/delete-icon.png" alt="Limpar" />
    </button>

    <button class="toggle-packages-btn" aria-label="Alternar pacotes" (click)="togglePackages(car.id)">
      <mat-icon>arrow_right_alt</mat-icon>
    </button>

    <div class="portal-packages" *ngIf="showPackagesMap[car.id]">
      <ng-container *ngFor="let group of groupByPortal(car.portalPackages); let i = index">
        <div class="package-group">
          <div class="package-item" *ngFor="let opt of group.options">
            <label>
              <input type="radio" name="pkg-{{car.id}}-{{group.portalName}}" [checked]="opt.selected"
                (change)="onPackageToggle(car, group.portalName, opt)" />
              <span class="custom-checkbox"></span>
              <span class="pkg-name">{{ opt.name }}</span>
              <span class="pkg-code">
                <span class="code-red">{{ opt.code.split('-')[0] }}</span>-
                <span class="code-green">{{ opt.code.split('-')[1] }}</span>
              </span>
            </label>
          </div>
        </div>
        <div class="divider" *ngIf="i < groupCount(car.portalPackages) - 1"></div>
      </ng-container>
    </div>
  </div>