<div class="header-container">
  <div class="logo">
    <a routerLink="/">
      <img src="adset-lead.png" alt="ADSet Lead" class="logo-principal" />
    </a>
  </div>
</div>

<form class="form" [formGroup]="filtroForm" (ngSubmit)="buscarCarros()">
  <br />
  <div class="container">
    <div class="totais">
      <span>Total de Carros: {{ totalCarrosCadastrados }}</span> /
      <span style="color: green">Com Fotos: {{ totalCarrosComFotos }}</span> /
      <span style="color: red">Sem Fotos: {{ totalCarrosSemFotos }}</span>
    </div>

    <button
      mat-raised-button
      color="primary"
      [routerLink]="['/carros/cadastrar']"
    >
      <mat-icon>drive_eta</mat-icon> Cadastrar novo carro
    </button>
  </div>

  <br />

  <div class="filtros-grid">
    <mat-form-field appearance="outline" class="campo">
      <mat-label>Placa</mat-label>
      <input matInput formControlName="placa" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="campo">
      <mat-label>Marca</mat-label>
      <input matInput formControlName="marca" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="campo">
      <mat-label>Modelo</mat-label>
      <input matInput formControlName="modelo" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="campo">
      <mat-label>Ano Min</mat-label>
      <mat-select formControlName="anoMin">
        <mat-option *ngFor="let ano of anos" [value]="ano">{{
          ano
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="campo">
      <mat-label>Ano Max</mat-label>
      <mat-select formControlName="anoMax">
        <mat-option *ngFor="let ano of anos" [value]="ano">{{
          ano
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="campo">
      <mat-label>Preço</mat-label>
      <mat-select formControlName="preco">
        <mat-option [value]="'10000-50000'">10mil a 50mil</mat-option>
        <mat-option [value]="'50000-90000'">50mil a 90mil</mat-option>
        <mat-option [value]="'90000'">+90mil</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="campo">
      <mat-label>Fotos</mat-label>
      <mat-select formControlName="hasPhotos">
        <mat-option [value]="true">Com Fotos</mat-option>
        <mat-option [value]="false">Sem Fotos</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="campo">
      <mat-label>Opcionais</mat-label>
      <input matInput formControlName="opcionais" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="campo">
      <mat-label>Cor</mat-label>
      <mat-select formControlName="cor">
        <mat-option *ngFor="let cor of cores" [value]="cor">{{
          cor
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="filtros-grid">
    <mat-form-field appearance="outline">
      <mat-label>Pacote iCarros</mat-label>
      <mat-select formControlName="pacoteIcarros">
        <mat-option [value]="null">Nenhum</mat-option>
        <mat-option [value]="1">Bronze</mat-option>
        <mat-option [value]="2">Diamante</mat-option>
        <mat-option [value]="3">Platinum</mat-option>
        <mat-option [value]="4">Básico</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Pacote WebMotors</mat-label>
      <mat-select formControlName="pacoteWebmotors">
        <mat-option [value]="null">Nenhum</mat-option>
        <mat-option [value]="1">Bronze</mat-option>
        <mat-option [value]="2">Diamante</mat-option>
        <mat-option [value]="3">Platinum</mat-option>
        <mat-option [value]="4">Básico</mat-option>
      </mat-select>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      aria-label="Buscar carros"
    >
      <mat-icon>search</mat-icon> Buscar
    </button>

    <button
      mat-raised-button
      aria-label="Limpar filtros"
      (click)="limparFiltros()"
    >
      <mat-icon>clear</mat-icon> Limpar Filtros
    </button>
  </div>
</form>

<br />

<table
  mat-table
  [dataSource]="dataSource"
  matSort
  class="mat-elevation-z8, table"
>
  <ng-container matColumnDef="acoes">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let carro">
      <button
        mat-icon-button
        color="warn"
        (click)="deletarCarro(carro.id)"
        matTooltip="Excluir carro"
      >
        <mat-icon>delete_forever</mat-icon>
      </button>
      <button
        mat-icon-button
        color="primary"
        (click)="editarCarro(carro.id)"
        matTooltip="Editar carro"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="foto">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Foto</th>
    <td mat-cell *matCellDef="let carro">
      <img
        *ngIf="carro.fotos.length > 0"
        [src]="carro.fotos[0].url"
        alt="Foto do carro"
        class="foto-mini"
      />
    </td>
  </ng-container>

  <ng-container matColumnDef="marcaModelo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Marca / Modelo</th>
    <td mat-cell *matCellDef="let carro">
      {{ carro.marca }} / {{ carro.modelo }}
    </td>
  </ng-container>

  <ng-container matColumnDef="placa">
    <th mat-header-cell *matHeaderCellDef>Placa</th>
    <td mat-cell *matCellDef="let carro">{{ carro.placa }}</td>
  </ng-container>

  <ng-container matColumnDef="ano">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Ano</th>
    <td mat-cell *matCellDef="let carro">{{ carro.ano }}</td>
  </ng-container>

  <ng-container matColumnDef="cor">
    <th mat-header-cell *matHeaderCellDef>Cor</th>
    <td mat-cell *matCellDef="let carro">{{ carro.cor }}</td>
  </ng-container>

  <ng-container matColumnDef="preco">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Preço</th>
    <td mat-cell *matCellDef="let carro">
      R$ {{ carro.preco | number : "1.2-2" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="opcionais">
    <th mat-header-cell *matHeaderCellDef>Opcionais</th>
    <td mat-cell *matCellDef="let carro">{{ carro.listaOpcionais }}</td>
  </ng-container>

  <ng-container matColumnDef="quilometragem">
    <th mat-header-cell *matHeaderCellDef>Quilometragem</th>
    <td mat-cell *matCellDef="let carro">
      {{ carro.quilometragem | number : "1.0-0" }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  [length]="totalCarrosFiltrados"
  [pageSize]="tamanhoPagina"
  [pageSizeOptions]="[2, 5, 10, 15, 20, 25, 50, 100]"
  (page)="onPageChange($event)"
>
</mat-paginator>
