.vehicles-list-container {
  margin: 0.5rem;
  border-bottom: 1px dashed #3d3d3f;

  .no-vehicles {
    padding: 1rem;

    p {
      color: #707173;
    }
  }

  .vehicles-list-item {
    display: flex;
    margin-bottom: 0.5rem;
    height: 8.125rem;

    .delete-vehicle-icon-container {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 2rem;
      width: 2rem;
      height: 100%;
      background-color: #e7e7e7;
      margin-right: 0.5rem;

      &:hover {
        cursor: pointer;
        filter: brightness(0.95);
      }

      .delete-vehicle-icon {
        width: 0.8125rem;
        height: 1rem;
      }
    }

    .vehicle-photo-container {
      height: 100%;
      min-width: 10%;
      width: 12rem;
      max-width: 12rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;

        &:hover {
          cursor: pointer;
          filter: brightness(0.95);
        }
      }
    }

    .vehicle-infos-container {
      display: flex;
      background-color: #e7e7e7;
      height: 100%;
      width: 100%;

      .left-container {
        width: 50%;

        .brand-model-year-container {
          display: flex;
          align-items: center;
          background-color: #ffffff;
          padding: 0.5rem;
          margin: 0.5rem 1rem;
          width: max-content;
          border-radius: 0.5rem;

          p {
            color: #707173;
            font-weight: bold;
            font-size: 0.8125rem;
          }
        }

        .plate-mileage-color-container {
          margin: 1rem;
          display: flex;
          flex-direction: column;

          p {
            color: #58585a;
            font-size: 0.71875rem;
            margin-bottom: 0.125rem;

            span {
              color: #41a62a;
            }
          }
        }
      }

      .right-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        width: 50%;
        height: 100%;

        .extra-infos-container {
          display: flex;
          padding: 1rem;
          gap: 1rem;

          .edit-vehicle-icon {
            width: 1.6875rem;

            &:hover {
              cursor: pointer;
              filter: brightness(0.95);
            }
          }

          .photos-quantity-container,
          .options-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .photo-icon,
            .options-icon {
              width: 1.125rem;
              height: 0.925rem;
              margin-bottom: 0.25rem;
            }

            p {
              color: #40a52b;
              font-size: 0.6875rem;
            }

            .options-icon {
              width: 1.5rem !important;
              height: 1rem !important;
            }

            .photo-icon {
              &:hover {
                cursor: pointer;
                filter: brightness(0.95);
              }
            }
          }
        }

        .price-container {
          display: flex;
          justify-content: center;
          position: relative;
          width: 10rem;
          background-color: #f6f6f6;
          clip-path: polygon(24px 0, 100% 0, 100% 100%, 0% 100%);

          h1 {
            font-size: 0.875rem;
            color: #40a52b;
            margin: 0.5rem;
          }
        }
      }
    }
  }

  .vehicle-portals-container {
    width: 24rem;

    .portal-checkboxes-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: start;
      width: 24rem;

      .portal-group {
        display: flex;
        flex-direction: column;
        border-right: 1px solid #c4c4c4;
        padding: 0 0.5rem;

        .portal-body {
          background: #fff;
          border-radius: 0 0 0.25rem 0.25rem;

          .portal-option {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            margin-bottom: 0.25rem;

            label {
              font-size: 0.75rem;
              color: #58585a;
            }

            .count {
              font-size: 0.75rem;
              margin-left: auto;

              .red {
                color: #e53935;
                font-weight: bold;
              }
              .green {
                color: #41a62a;
                font-weight: bold;
              }
            }

            input[type="checkbox"] {
              accent-color: #40a52b;
            }
          }
        }
      }
    }
  }
}
