<div class="vehicles-list-container">
  <!-- No vehicles -->
  <div class="no-vehicles" *ngIf="!vehicles || vehicles.length === 0">
    <p>Nenhum veículo foi encontrado.</p>
  </div>

  <!-- Vehicles list -->
  <div class="vehicles-list-item" *ngFor="let v of vehicles">
    <!-- Delete vehicle -->
    <div class="delete-vehicle-icon-container" (click)="onDelete(v.id)">
      <img
        class="delete-vehicle-icon"
        src="assets/images/trash-icon.svg"
        alt="Delete Vehicle Icon"
      />
    </div>

    <!-- Vehicle photo -->
    <div class="vehicle-photo-container" (click)="onViewPhotos(v)">
      <img
        [src]="
          v.photos?.length
            ? v.photos[0].url
            : 'assets/images/car-placeholder-image.png'
        "
        alt="Vehicle Photo"
      />
    </div>

    <!-- Vehicle info -->
    <div class="vehicle-infos-container">
      <div class="left-container">
        <!-- Brand, model and year -->
        <div class="brand-model-year-container">
          <p>{{ v.brand }} {{ v.model }} | {{ v.year }}</p>
        </div>

        <!-- Plate, mileage, color, price -->
        <div class="plate-mileage-color-container">
          <p>
            Placa - <span>{{ v.licensePlate }}</span>
          </p>
          <p>
            Km - <span>{{ v.mileage | number }}</span>
          </p>
          <p>
            Cor - <span>{{ v.color }}</span>
          </p>
        </div>
      </div>

      <div class="right-container">
        <div class="extra-infos-container">
          <!-- Edit -->
          <img
            class="edit-vehicle-icon"
            src="assets/images/edit-vehicle-icon.svg"
            (click)="onEdit(v.id)"
            alt="Edit Vehicle"
          />

          <!-- Photos count -->
          <div class="photos-quantity-container" (click)="onViewPhotos(v)">
            <img class="photo-icon" src="assets/images/photo-icon.svg" />
            <p>{{ v.photos?.length || 0 }}</p>
          </div>

          <!-- Options -->
          <div class="options-container" (click)="onViewOptions(v)">
            <img class="options-icon" src="assets/images/options-icon.svg" />
            <p>Opcionais</p>
          </div>
        </div>
        <div class="price-container">
          <h1>
            {{ v.price | currency: "BRL" }}
          </h1>
        </div>
      </div>
    </div>

    <!-- Vehicle portals -->
    <div class="vehicle-portals-container">
      <div class="portal-checkboxes-container">
        <!-- iCarros -->
        <div class="portal-group">
          <div class="portal-body">
            <div class="portal-option">
              <input type="checkbox" id="feirao" />
              <label for="feirao">Diamante Feirão</label>
              <span class="count"
                ><span class="red">010</span> -
                <span class="green">008</span></span
              >
            </div>
            <div class="portal-option">
              <input type="checkbox" id="diamante" checked />
              <label for="diamante">Diamante</label>
              <span class="count"
                ><span class="red">030</span> -
                <span class="green">025</span></span
              >
            </div>
            <div class="portal-option">
              <input type="checkbox" id="platinum" />
              <label for="platinum">Platinum</label>
              <span class="count"
                ><span class="red">040</span> -
                <span class="green">010</span></span
              >
            </div>
          </div>
        </div>

        <!-- WebMotors -->
        <div class="portal-group">
          <div class="portal-body">
            <div class="portal-option">
              <input type="checkbox" id="basico" checked />
              <label for="basico">Básico</label>
              <span class="count"
                ><span class="red">030</span> -
                <span class="green">025</span></span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
