<app-toolbar></app-toolbar>
<main class="main-content">
    <app-summary-toolbar [total]="110"
                         [withPhotos]="80" 
                         [withoutPhotos]="30" 
                         (exportExcel)="handleExportExcel()" 
                         (exportCsv)="handleExportCsv()"
                         (register)="handleRegister()"
                         (save)="handleSave()">   
    </app-summary-toolbar>
    <app-filters (search)="onSearch($event)"></app-filters>
    <app-list-controls [sortBy]="currentSortBy" [sortDir]="currentSortDir" [pageSize]="currentPageSize" (sortByChange)="onSortByChange()" (sortDirChange)="onSortDirChange()" (pageSizeChange)="onPageSizeChange()"></app-list-controls>
    <app-car-list [cars]="cars" [currentPage]="currentPage" [totalPagesFromApi]="totalPagesFromApi"></app-car-list>
    <app-pagination [totalPages]="totalPagesFromApi" [currentPage]="currentPage" (pageChange)="onPageChange($event)"></app-pagination>
</main>