<app-toolbar></app-toolbar>
<main class="main-content">
    <app-summary-toolbar [total]="110"
                         [withPhotos]="80" 
                         [withoutPhotos]="30" 
                         (exportExcel)="handleExportExcel()" 
                         (exportCsv)="handleExportCsv()"
                         (register)="handleRegister()"
                         (save)="handleSave()">   
    </app-summary-toolbar>
    <app-filters></app-filters>
    <app-list-controls [sortBy]="currentSortBy" [sortDir]="currentSortDir" [pageSize]="currentPageSize" (sortByChange)="onSortByChange()" (sortDirChange)="onSortDirChange()" (pageSizeChange)="onPageSizeChange()"></app-list-controls>
    <app-car-list></app-car-list>
    <app-pagination [totalPages]="totalPagesFromApi" [currentPage]="currentPage"></app-pagination>
</main>